# آدرس توکن ربات تلگرام خود را اینجا قرار دهید
# Paste your Telegram Bot Token here
BOT_TOKEN=YOUR_TOKEN

# مسیر فایل دیتابیس (اختیاری)
DB_PATH=database/pail.db

# مسیر ذخیره فایل‌های پیوست (اختیاری)
STORAGE_PATH=storage/attachments
